{% extends 'base.html.twig' %}
{% block title %}Modifier{% endblock %}

{% block body %}
    <div class="container pb-5">
        <h1>Modifier mon mot de passe</h1>

        <a href="{{ path('app_account') }}">Retourner a mon compte</a><br>
        
        {{ form(form) }}
        
    <hr>
    </div>
{% endblock %}



