{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}


	<header class="h-home">
	<div><img src="{{asset('img/' ~ 'wif.png')}}" alt="what's in my fridge"></div>
	<div class="cont">
		
		<div class="tagline">
	
			<h1>"Toute recette requiert un <span class="c-word">ingrédient</span> que vous n'avez pas dans votre cuisine"</h1>
			<h2 class="mt-5">C'est <span class="c-word">faux</span> !</h2>

		</div>
	
	</div>
		

	
	

	<div class="container cont_parent">
	
		{% include ("searchbar.html.twig") %}
		<div>
		<form action="{{ path('app_search_compo') }}">
		<input type="hidden" name="js_object">
		<button class="mb-5" type = "submit">C'est parti !</button>
		</form>
		</div>
	</div>

	</header>


	<div
		class="example-wrapper">

		
		<h3>Récemment ajouté</h3>
		{% for recette in recettes %}
			
		
		<div class="liste-card ">
		
			{% for compo in compos %}


			{% if recette.id == compo.recette.id %}
                        {% include ("cards.html.twig") %}
            {% endif %}


				


			{% endfor %}

			{% endfor %}

		</div>


	</div>


{% endblock %}
