{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Ajouter un ingrédient</h2>
                {{form(ingredientForm)}}
            </div>
        </div>
    </div>
{% endblock %}