{% extends "base.html.twig" %}

{% block body %}
<div class="container">
    <div class="cards">
        <div class="liste-card ">
            <h2>{{ingredient.name}}</h2>
            <img src="{{ asset('img/' ~ ingredient.photo) }}" alt="{{ ingredient }}">
            <p> <u>Produit à consommer de préférence :</u> {{ ingredient.saison|replace({'_':' '}) }}.</p>
		</div>
    </div>
</div>
{% endblock %}