{% extends 'base.html.twig' %}

{% block title %}Hello RecetteController!{% endblock %}

{% block body %}
<div class="container">
	{% if app.user %}
<div class="row">
	<a class="btn btn-primary" href="{{path('app_recette_ajout')}}">Ajouter une recette</a>
</div>
	{% endif %}
</div>
	{% for compo in composition %}
	<div class="liste-card ">
		{% for recette in recettes %}


			{% include ("cards.html.twig") %}

			
		{% endfor %}
			

	</div>
{% endfor %}
{% endblock %}
