{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!
{% endblock %}

{% block body %}


	<div class="example-wrapper">
		<h1>{{ controller_name }}</h1>

		


<div class="row justify-content-arround container m-auto">


{% set prevent = 0 %}
{% for id in idfinal %}
	{% for compo in compos %}
		{% if compo.recette.id == id and compo.recette.id != prevent %}
		{% set prevent = compo.recette.id %}
			{% include ("cards-2.html.twig") %}

		{% endif %}
	{% endfor %}
{% endfor %}
{% set prevent = 0 %}
</div>
	{% endblock %}
