{% extends 'base.html.twig' %}

{% block title %}Inscription!{% endblock %}

{% block body %}
    <section class="container mx-auto my-auto p-5">
    <h1 class="text-center">Inscription</h1>
    <div class="row m-5">
        <div class="card justify-content-center">
            {{ form(form) }}
        </div>
    </div>
    </section>
{% endblock %}
