{% extends 'base.html.twig' %}

{% block title %}Inscription!{% endblock %}

{% block body %}
    <h1 class="text-center">Inscription</h1>

    <div class="container mx-auto my-auto">
        <div class="row">
            {{ form(form) }}
        </div>


    </div>
{% endblock %}
