

@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";

body {
    background-color: rgb(255, 255, 255);
    font-family: lato,sans-serif;
font-weight: 400;
font-style: normal;
}

h1, h2, h3, h4{
    font-family: poppins,sans-serif;
font-weight: 700;
font-style: normal;
}

h3{
    font-size: 33px;
    color: #3B3B3B;
}

//******************************************************************************
//***************************--NAV--********************************************

nav{
    z-index: 1000;
    position: fixed !important;
    top: 0;
    width: 100%;
    background-color: #F29F05 !important;
    
    img{
        width: 40%;
    }
    .justif{
        justify-content: space-between;
        width: 80%;
        margin: auto;
        .links{
            flex-grow: 0 !important;

            ul li a{
                color: white !important;
                font-weight: 700;
                padding: 0 8px 0 8px !important;
                text-decoration: none;
                transition-duration:0.3s ;


            }
            a:hover{
               
                border-bottom: solid white 3px;
            }
        }
    }
}

.correction{
    padding-top: 56.4px;

}



//******************************************************************************
//***************************--HEADER--********************************************

.h-home{
    background-image: url(../../public/img/home_bcg.png);
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    padding-top: 20px;
    height: 550px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 10px;
    div:first-child{
        text-align: center;
    }
    .tagline{
        
        h1, h2{
            color: white;
            text-align: left;
        }

        h1{
            font-size: 32px;
            margin-bottom: 10px;
        }
        h2{
            font-size: 40px;
        }
        .c-word{
            color:#F28705 ;
        }

        width: 30%;

    }
    
    .cont{
        width: 80%;
        margin: auto;
    }

    .cont_parent div{
        text-align: center;
        button{
            padding: 8px 13px 8px 13px;
            border-radius: 15px;
            background-color:#F29F05 ;
            color: #fff;
            border: none;
            font-weight: 700;
            font-size: 18px;

            
            
        }

        button:hover{
            background-color:#b47500 ;
        }
    }

    
}
//******************************************************************************
//***************************--page recette--********************************************
.recette-cont{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.341);
}
.photo-recette{
    width: 80%;
    margin:15px auto 15px auto;
    
    overflow: hidden;
    height: 300px;
    border-radius: 8px;
    img{
        width: 100%;
    }

}

.ingimg{
    
    font-weight: 700;
    color: #3B3B3B;
    .ingimgr{
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.341);
        width: 40%;
        height: 75px;
        margin: auto;
        overflow: hidden;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 60%;
            
            
        }
    }
    
}

.compteur{
    color: #3B3B3B;
    background-color: #e0e0e0;
    font-weight: 900;
    padding: 15px;
    width: 20%;
    border-radius: 5px;
    margin: 25px 0 25px 40px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    
    align-items: center;

    
    i{
        font-size: 20px;
        font-weight: bolder;
        color: #F28705;
    }
    i:hover{
        color: #9b5806;
        cursor: pointer;
        
    }



}

.prep{
    width: 80%;
    box-shadow: inset 3px 2px 5px rgba(0, 0, 0, 0.185);
    padding: 15px;
    border-radius: 5px;
    margin: 15px auto 15px auto;
    white-space: normal;
    font-weight: 700;
    p{
        hyphens: auto;
    }
}

.sub-avis {
    background-color: #F29F05 !important;
    color: white !important;
    border: none !important;
}

//******************************************************************************
//***************************--CARDS--********************************************


.card-new {
    box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.341);


}

.top-card {
    height: 300px;
    background-color: rgb(68, 68, 68);

    overflow: hidden !important;

    img {
        width: 110%;
    }
}

.card-body {
    h5 {
        border-bottom: #F28705 solid 2px;
    }
}


.dot {


    p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

}

.time-card {
    display: flex;
    justify-content: space-around;
    margin: 10px auto 10px auto;
    font-weight: 700;
    box-shadow: inset 3px 2px 5px rgba(0, 0, 0, 0.185);
    color: #3B3B3B;
    border-radius: 5px;
    width: 90%;
    text-align: center;


}

.card-fav {

    a {
        background-color: #F29F05;
        padding: 9px 15px 9px 15px;


        border-radius: 7px;
        color: white;
        text-decoration: none;
        font-weight: 700;
    }
}

.card-favd{

    padding-right:8% ;
    a{
        background-color: #F29F05;
        padding: 9px 15px 9px 15px;
        
        
        border-radius: 7px;
        color: white;
        text-decoration: none;
        font-weight: 700;
        font-size: 30px;
    }

}


.liste-card {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;

}

.cards{
    width: calc(80%/3);
    box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.341);
    text-align: center;
    margin-bottom: 15px;
    border: none;
 

}

.photo{
    height: 300px;
    overflow: hidden;
    /* position: relative; */
    
}

.photo>img{
    width: 100%;
    /* height: 100%; */
    /* position: absolute; */
    /* top: 50; */
    /* left: 50; */
    /* transform: translate(-50%, -50%); */
    
}

.ing_img{
    width: 10%;
}

.cards a{
    background-color: #F29F05;
    padding: 9px 15px 9px 15px;
    
    
    border-radius: 7px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.cards a:hover{
    background-color: #ba7b04;
}


.time{
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
    

}

.time>p{
    /* background-color: rgb(213, 213, 213); */
    font-weight: 700;
}

.cont-card{
    padding: 15px;
}


.main_search{
    width: 100%;
    display: flex;
    align-items: center;
    div:first-child{
        width: 100%;
        display: flex;
        align-items: center;

        #search {
            width: 100%;
            padding: 5px;
        }
    }

}

.card-1 {
    width: 110% !important;
}

.ingscroll {
    overflow: scroll;
    height: 250px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.ingscroll::-webkit-scrollbar {
    display: none;
}


//******************************************************************************
//***************************--SEARCBAR--********************************************

.idvide {
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;

    i {

        font-size: 400px;
        color: #F29F05;
    }
}

.auto_search{

    a{
        text-decoration: none;
        font-weight: 700;      
    }

    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;

}

.active{
    
    
    a{
        color: white !important;
    }
}

.result_bar{
    text-align: start !important;
    background-color: rgba(255, 255, 255, 0.747);
}

.result{
    img{
        width: 30%;
    }
}


//******************************************************************************
//***************************--TAGS--********************************************
.cont_parent{
    width: 70%;
}    

.test-container{
        position: relative;
        
        margin: 40px;

        .tag-container{
            background-color: rgba(255, 255, 255, 0.747);
            padding : 8px;
            border-radius: 15px;
            display: flex;
            

            .tag{
                padding: 4px;
                
                margin: 0px 5px 0px 5px ;
                display: flex;
                align-items: center;
                border-radius: 3px;
                background-color: #F28705;
                color: white;
                
                white-space:nowrap;
                i{
                    font-size: 16px;
                    margin-left: 5px;
                    cursor: pointer;
                    color: white;
                }
            }

            input{
                flex : 1;
                font-size: 16px;
                padding: 5px;
                outline: none;
                border: 0;
                background-color: rgba(255, 255, 255, 0);
            }
        }
    
    }


//******************************************************************************
//***************************--MEDIA QUERIES--********************************************


@media only screen and (max-width: 992px){
    .liste-card{
        display: flex;
        flex-wrap: wrap;
    
    }

    .cards{
        width: calc(90%/2);
        box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.341);
        text-align: center;
        margin-bottom: 15px;
        border: none;
        
        /* height: 60vh; */
        
        
        
    
    }

}

@media only screen and (max-width: 768px) {
    .liste-card {
        display: flex;
        flex-wrap: wrap;

    }

    .cards {
        width: calc(90% / 2);

    }
    .compteur {
        width: 35%;
    }

    .photo-recette {
        width: 80%;
        margin: 8px auto 18px auto;
        height: 300px;
        border-radius: 8px;

        img {
            width: 150%;
        }

    }
}


@media only screen and (max-width: 576px){
    .liste-card{
        display: block;


    }

    .cards {
        width: 100%;

    }

    .compteur {
        width: 50%;
    }


}

