{# <div class="sidebar-search main_search">
	<div class="input-group custom-search-form">
		<input type="text" id="search" class="form-control" placeholder="Entrez un ou plusieur ingrédients">
	</div>
	<!-- /input-group -->
	<ul class="list-group auto_search" id="entitiesNav"></ul>
</div> #}
{# ---------------------- #}


{# <div class="test-container">

	<div class="tag-container">

        <input />


	</div>


</div> #}



{# ---------------------- #}


<div class="test-container">

	<div class="tag-container">

        <div class=" main_search">
	<div >
		<input type="text" id="search"  placeholder="Entrez un ou plusieur ingrédients">
	</div>
	<!-- /input-group -->
	<ul class="list-group auto_search" id="entitiesNav"></ul>
</div>


	</div>


</div>

