	{# test #}


	  <div class="sidebar-search">
      <div class="input-group custom-search-form">
          <input type="text" id="search" class="form-control" placeholder="Entrez un ou plusieur ingrédients">
      </div>
      <!-- /input-group -->
  </div>

          
          <ul class="list-group auto_search" id="entitiesNav">
          </ul>

